# Build results
bin/
obj/

# Visual Studio files
.vs

# JetBrains IDE configuration
.idea
*.DotSettings.user

# Backup files
*.bak

# Docs
docfx/_site/**
docfx/net8.0/**
docfx/net9.0/**
docfx/net10.0/**
